<%= form_for @event do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :event_name %><br />
    <%= f.text_field :event_name %>
  </p>
  <p>
    <%= f.label :event_type %><br />
    <%= f.text_field :event_type %>
  </p>
  <p>
    <%= f.label :cbody %><br />
    <%= f.text_area :cbody %>
  </p>
  <p>
    <%= f.label :bbody %><br />
    <%= f.text_field :bbody %>
  </p>
  <p>
    <%= f.label :eventstartdate %><br />
    <%= f.date_select :eventstartdate %>
  </p>
  <p>
    <%= f.label :eventenddate %><br />
    <%= f.date_select :eventenddate %>
  </p>
  <p>
    <%= f.label :eventstarttime %><br />
    <%= f.time_select :eventstarttime %>
  </p>
  <p>
    <%= f.label :eventendtime %><br />
    <%= f.time_select :eventendtime %>
  </p>
  <p>
    <%= f.label :localGMToffset %><br />
    <%= f.text_field :localGMToffset %>
  </p>
  <p>
    <%= f.label :endGMToffset %><br />
    <%= f.text_field :endGMToffset %>
  </p>
  <p>
    <%= f.label :mapstreet %><br />
    <%= f.text_field :mapstreet %>
  </p>
  <p>
    <%= f.label :mapcity %><br />
    <%= f.text_field :mapcity %>
  </p>
  <p>
    <%= f.label :mapstate %><br />
    <%= f.text_field :mapstate %>
  </p>
  <p>
    <%= f.label :mapzip %><br />
    <%= f.text_field :mapzip %>
  </p>
  <p>
    <%= f.label :mapplacename %><br />
    <%= f.text_field :mapplacename %>
  </p>
  <p>
    <%= f.label :mapcountry %><br />
    <%= f.text_field :mapcountry %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :imagelink %><br />
    <%= f.text_field :imagelink %>
  </p>
  <p><%= f.submit %></p>
<% end %>
