<%= form_for @event, :html => { :multipart => true }, :validate => true do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "Event Name:" %><br />
    <%= f.text_field :event_name %>
  </p>
  <p>
    <%= f.label "Event Type:" %><br />
    <%= f.collection_select :event_type, EventType.all, :code, :description, :prompt => 'Select' %>
  </p>
  <p>
    <%= f.label "Status:" %><br />
    <%= f.text_field :status %>
  </p>

  <% if is_clone?(etype) %>
    <%= f.hidden_field :etype, :value => 'Clone' %>
  <% end %>

  <%= render :partial => 'shared/form', :locals => {:f => f} %>
  
  <% if has_sessions?(@event.event_type) %>
    <%= f.fields_for :event_tracks do |builder| %>  
      <%= render :partial => 'track', :locals => {:builder => builder} %>  
    <% end %> 

    <%= f.fields_for :event_sites do |builder| %>  
      <%= render :partial => 'site', :locals => {:builder => builder} %>  
    <% end %> 
  <% end %>  

  <p><%= f.submit %></p>
<% end %>
