
<% if has_sessions?(event.event_type) %>
<p>
  <div class="span-6"><span class="prepend-4"><strong>Track(s):</strong></span></div>
  <div class="span-19 last">
  <ol>  
    <% for etrack in event.event_tracks %>  
      <li><%= etrack.name %> / <%= etrack.description %></li>  
    <% end %>  
  </ol>  
  </div>
</p>

<p>
  <div class="span-6"><span class="prepend-4"><strong>Site(s):</strong></span></div>
  <div class="span-19 last">
  <ol>  
    <% for esite in event.event_sites %>  
      <li><%= esite.name %> / <%= esite.description %></li>  
    <% end %>  
  </ol>
  </div>
</p><br />

  <div id="session-list"><%= render :partial => 'shared/sessions', :locals => {:event => event} %></div><br />
<% end %>
