<% title "Event" %>

<%= render :partial => 'shared/show_form', :locals => {:event => @event} %>

<p>
  <strong>Track(s):</strong>
  <ol>  
    <% for etrack in @event.event_tracks %>  
      <li><%= etrack.name %> <%= etrack.description %></li>  
    <% end %>  
  </ol>  
</p>

<% if has_sessions?(@event.event_type) %>
  <p>
  <strong>Session(s):</strong>
      <ol>
	 <% for session in @event.sessions %>
	   <li><%= session.event_name %> <%= session.location %>  <%= link_to "Show", event_session_relationship_path(@event, session) %> | 
	       <%= link_to "Remove", event_session_relationship_path(@event, session), :method => :delete %> </li>
	 <% end %>
     </ol>
  </p>
  <%= link_to "Add Sessions", new_event_session_relationship_url(@event) %>
<% end %>

<p>
  <%= link_to "Edit", edit_event_path(@event) %> |
  <%= link_to "Destroy", @event, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", events_url %> 
</p>
