<% title "Event" %>

<%= render :partial => 'shared/show_form', :locals => {:event => @event} %><br />

<% if has_sessions?(@event.event_type) %>
<p>
  <br />
  <strong>Track(s):</strong>
  <ol>  
    <% for etrack in @event.event_tracks %>  
      <li><%= etrack.name %>: <%= etrack.description %></li>  
    <% end %>  
  </ol>  
</p><br />

<p>
  <strong>Site(s):</strong>
  <ol>  
    <% for esite in @event.event_sites %>  
      <li><%= esite.name %>: <%= esite.description %></li>  
    <% end %>  
  </ol>  
</p><br />

  <%= render :partial => 'shared/sessions', :locals => {:event => @event} %><br />
<% end %>

<p><br />
  <strong>Speaker(s):</strong>
  <%= render :partial => 'shared/presenter_list', :locals => { :event => @event, :spkrlist => 'Yes', :parent => [] } %>
</p>

<p>
<%= link_to "Add Speakers", event_presenters_url(@event,{:event_id => @event}) %> |
  <%= link_to "Edit Event", edit_event_path(@event) %> |
  <%= link_to "Remove Event", @event, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", events_url %> 
</p>
