<%= form_for @session, :url => event_session_relationship_path(@event, @session), :html => {:multipart => true}, :validate => true do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "Event: " %><%= @event.event_title %>
    <%= f.hidden_field :event_title, :value => @event.event_title %>
    <%= f.hidden_field :event_type, :value => 'se' %>
    <%= f.hidden_field :etype, :value => 'Session' %>
  </p>
  <p>
    <%= f.label "Session Name:" %><br />
    <%= f.text_field :event_name %>
  </p>
  <p>
    <%= f.label "Session Type: " %><br />
    <%= f.collection_select :session_type, SessionType.all, :code, :description, :prompt => 'Select' %>
  </p>
  <p>
    <%= f.label "Track:" %><br />
    <%= f.collection_select :track, EventTrack.get_track(@event.id), :name, :name, :prompt => 'Select' %>
  </p>
  <%= render :partial => 'shared/form', :locals => {:f => f} %>

  <p><%= f.submit %></p>
<% end %>
