<% title "Session" %>

<%= render :partial => 'shared/show_form', :locals => {:event => @s_event} %>

<p>
  <%= link_to "Back", @event %> |
  <%= link_to "Edit", edit_event_path(@s_event) %> |
  <%= link_to "Destroy", @s_event, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Add Speakers", event_presenters_url(@s_event,{:event_id => @s_event}) %>
</p>
