  <p>
    <%= f.label "Topic: " %><br />
    <%= f.text_field :speakertopic %>
  </p>
  <p>
    <%= f.label "Overview: " %><br />
    <%= f.text_field :bbody %>
  </p>
  <p>
    <%= f.label "Description: " %><br />
    <%= f.text_area :cbody %>
  </p>
  <p>
    <%= f.label "Start Date: " %><br />
    <%= f.date_select :eventstartdate %>
  </p>
  <p>
    <%= f.label "End Date: " %><br />
    <%= f.date_select :eventenddate %>
  </p>
  <p>
    <%= f.label "Start Time: " %><br />
    <%= f.time_select :eventstarttime, :value => chk_offset(@event.eventstarttime, @event.localGMToffset) %>
  </p>
  <p>
    <%= f.label "End Time: " %><br />
    <%= f.time_select :eventendtime, :value => chk_offset(@event.eventendtime, @event.endGMToffset) %>
  </p>
  <p>
    <%= f.label "Start TimeZone: " %><br />
    <%= f.collection_select :localGMToffset, GmtTimezone.all, :code, :description, :prompt => 'Select Timezone' %>
  </p>
  <p>
    <%= f.label "End TimeZone: " %><br />
    <%= f.collection_select :endGMToffset, GmtTimezone.all, :code, :description, :prompt => 'Select Timezone' %>
  </p>
  <p>
    <%= f.label "Street: " %><br />
    <%= f.text_field :mapstreet %>
  </p>
  <p>
    <%= f.label "City: " %><br />
    <%= f.text_field :mapcity %>
  </p>
  <p>
    <%= f.label "State: " %><br />
    <%= f.text_field :mapstate %>
  </p>
  <p>
    <%= f.label "Zip: " %><br />
    <%= f.text_field :mapzip %>
  </p>
  <p>
    <%= f.label "Place: " %><br />
    <%= f.text_field :mapplacename %>
  </p>
  <p>
    <%= f.label "Country: " %><br />
    <%= f.text_field :mapcountry %>
  </p>
  <p>
    <%= f.label "Location: " %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.fields_for :pictures, @picture do |form| %>
      <%= form.label :photo, "Photo" %>  
      <%= form.file_field :photo %> 
    <% end %>
  </p>	  
