<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Title</th>
    <th>Company</th>
    <th>Bio</th>
    <% if spkrlist == 'No' %><th></th><% end %>
    <th></th>
    <th></th>
  </tr>
  <% for presenter in get_presenters(@presenters) %>
    <tr>
      <td>
        <% for pic in presenter.pictures %>
          <%= image_tag pic.photo.url, :size=>'48x48' %>
	<% end %>
      </td>
      <td><%= link_to presenter.name, event_presenter_url(@event, presenter) %></td>
      <td><%= presenter.title %></td>
      <td><%= presenter.org_name %></td>
      <td><%= truncate(presenter.bio, :length=>80, :omission=>"...") %></td>

      <% if spkrlist == 'No' %>
        <td><%= link_to "Select", manage_presenters_url(:event_id => @event, :presenter_id => presenter), :method => :post %></td>
      <% end %>

      <td><%= link_to "Edit", edit_event_presenter_url(@event, presenter) %></td>

      <% if spkrlist == 'No' %>
        <td><%= link_to "Remove", event_presenter_url(@event, presenter), :confirm => 'Are you sure?', :method => :delete %></td>
      <% else %>
        <td><%= link_to "Remove", manage_presenters_url(:event_id => @event, :presenter_id => presenter), :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="nav-right">
  <%= will_paginate @presenters %><br />
</div>
