<p>
  <% for pic in event.pictures %>
      <%= image_tag pic.photo.url, :size => '120x120' %>
  <% end %>
</p>
<p>
  <strong>Event Name:</strong>
  <%= event.event_name %>
</p>
<p>
  <strong>Event Type:</strong>
  <%= event.event_type %>
</p>
<p>
  <strong>Description:</strong>
  <%= event.cbody %>
</p>
<p>
  <strong>Overview:</strong>
  <%= event.bbody %>
</p>
<p>
  <strong>Start:</strong>
  <%= get_nice_date(event.eventstartdate) %>
  <strong>Time:</strong>
  <%= get_nice_time(chk_offset(event.eventstarttime, event.localGMToffset)) %> TimeZone: <%= event.localGMToffset %>
</p>
<p>
  <strong>End:</strong>
  <%= get_nice_date(event.eventenddate) %>
  <strong>Time:</strong>
  <%= get_nice_time(chk_offset(event.eventendtime, event.endGMToffset)) %> TimeZone: <%= event.endGMToffset %>
</p>
<p>
  <strong>Location:</strong><br />
  <%= event.mapplacename %><br />
  <%= event.location %><br />
  <%= event.mapstreet %><br />
  <%= event.mapcity %>, <%= event.mapstate %> <%= event.mapzip %><br />
  <%= event.mapcountry %><br />
</p>
<p>
  <strong>Speaker(s):</strong>
      <ol>
         <% for presenter in event.presenters %>
	   <li>
             <% for pic in presenter.pictures %>
                <%= image_tag pic.photo.url, :size=>'48x48' %>
	     <% end %>
	     <%= presenter.name %> <%= presenter.title %> <%= presenter.org_name %> 
	     (<%= link_to "remove", event_presenter_path(event, presenter), :method => :delete %>)
	   </li>
	 <% end %>
      </ol>
</p>
<%= link_to "Add Speakers", event_presenters_url(event,{:event_id => event}) %>
