<% title "Sponsor" %>

<p>
  <strong>Sponsor Name:</strong>
  <%= @sponsor.sponsor_name %>
</p>
<p>
  <strong>Subscriptionsourceid:</strong>
  <%= @sponsor.subscriptionsourceID %>
</p>
<p>
  <strong>Contentsourceid:</strong>
  <%= @sponsor.contentsourceID %>
</p>
<p>
  <strong>Status:</strong>
  <%= @sponsor.status %>
</p>
<p>
  <strong>Hide:</strong>
  <%= @sponsor.hide %>
</p>

<p>
  <%= link_to "Edit", edit_sponsor_path(@sponsor) %> |
  <%= link_to "Destroy", @sponsor, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", sponsors_path %>
</p>
