<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Register' } %>

<div class="nav-right">
  <%= link_to "Back", :back %>
</div>

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
 	<div id="newreg">
   	  <p><span>First Name</span> <%= f.text_field :first_name %></p> 
 	  <p><span>Last Name</span>  <%= f.text_field :last_name %></p>
  	  <p><span>Username</span>  <%= f.text_field :username %></p>
   	  <p><span>Email</span><%= f.text_field :email %></p>
	  <p><span>Password</span><%= f.password_field :password, :class => "password" %></p><i>(leave blank if you don't want to change it)</i>
	  <p><span>Current Password</span><%= f.password_field :current_password, :class => "password" %></p><i>(we need your current password to confirm your changes)</i>

          <p><%= f.submit "Update" %></p>
	</div>
<% end %>

