<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : get_name_or_logo %></title>
    <%= stylesheet_link_tag "application" %>
    <% unless user_signed_in? %>
      <%= stylesheet_link_tag "user" %>
    <% end %>
    <%= render 'layouts/stylesheets' %>
    <%= stylesheet_link_tag "custom", "menu", "screen",'jquery-ui-1.8.11.custom', :cache=> true %>
    <%= javascript_include_tag :defaults, 'jquery-1.6.2.min', 'jquery-ui-1.8.11.custom.min', 'rails.validations', :cache => true %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
      <%= yield :content %>
      <%= yield :footer %>
    </div>
  </body>
</html>
