  <%= render "shared/error_messages", :target => @event %>
  <div id="newreg">
    <p><span>Event Type: </span> <%= f.collection_select :event_type, EventType.nonsessions, :code, :desc_title, :prompt => 'Select' %></p>
    <p><span>Name: </span> <%= f.text_field :event_name, :size => 80 %></p>

    <% if is_clone?(etype) %>
      <%= f.hidden_field :etype, :value => 'Clone' %>
    <% end %>

    <%= render :partial => 'shared/form', :locals => {:f => f, :etype => 'Event'} %>

<<<<<<< HEAD
    
    <% if has_sessions?(@event.event_type) %>
      <%= render :partial => 'track_site', :locals => {:f => f} %>
=======
    <div class="pres-fields">
      <%= f.fields_for :promo_codes do |form| %>
        <%= render :partial => 'shared/promo_codes', :locals => { :f => form } %>
      <% end %>
    </div>
    
    <% if has_sessions?(@event.event_type) %>
      <div class='boxed'>
        <%= render :partial => 'track_site', :locals => {:f => f} %>
      </div>
>>>>>>> app_branch
    <% else %>
      <div id="track-site" style="display:none">
        <%= render :partial => 'track_site', :locals => {:f => f} %>
      </div>
    <% end %>  

    <p><%= f.submit "Save" %>
    <%= link_to 'Back', :back, :class=>'back-btn' %>
    </p>
  </div>
