<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Event' } %>

<%= content_for :content do %>
  <h2 class="grp-hdr">Event</h2>
  <hr />
  <%= link_to "Edit Event", edit_event_path(@event, :cid=>@channel), :id=>"link-btn", :class=>"round nav-right" %>

  <%= render :partial => 'shared/show_form', :locals => {:event => @event} %><br />

  <% unless @rsvps.blank? %>
    <div class="clear-all"></div>
    <div class="span-6"><span class="prepend-4"><strong>RSVPs:</strong></span></div>

    <% if mobile_device? %>
      <div class="span-12 last">
    <% else %>
      <div class="span-19 last">
    <% end %>

    <%= @rsvps.count %>  (Yes: <%= rsvp_count(@rsvps,'Attending') %> Maybe: <%= rsvp_count(@rsvps,'Might Attend') %> No: <%= rsvp_count(@rsvps,'Not Attending') %>)  <%= link_to "Show List", "#", :id=>"rlist", :remote=>true %>
    </div>
    <p><div id="rsvp-list" style="display:none"><%= render :partial => 'shared/rsvp_list' %></div></p>
  <% end %>

  <div class="clear-all"></div>
  <% if mobile_device? %>
    <%= render :partial => 'mobile/show_event_session', :locals => {:event => @event} %><br />
  <% else %>
    <%= render :partial => 'show_event_session', :locals => {:event => @event} %><br />
  <% end %>

  <p><br />
    <strong>Sponsor(s):</strong>
    <%= link_to "Add Sponsors", new_sponsor_page_url(:eid => @event, :cid=>@channel), :id=>"link-btn", :class=>"round nav-right" %> 
    <%= render :partial => 'shared/sponsor_page_list', :locals => {:model => @event} %><br />
  </p>

  <strong>Presenter(s):</strong>
  <div class='nav-right'>
    <%= link_to "Add Presenter", event_presenters_url(@event,{:event_id => @event, :cid=>@channel}), :id=>"link-btn", :class=>"round " %> 
  </div>

  <p>
    <div id="pres-list"><%= render :partial => 'shared/presenter_list', :locals => { :event => @event, :spkrlist => 'Yes', :parent => [] } %></div>
  </p>
<% end %>
