<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Event' } %>

<%= content_for :content do %>
  <h2 class="grp-hdr">Event</h2>
  <hr />
  <%= link_to "Edit Event", edit_event_path(@event, :cid=>@channel), :id=>"link-btn", :class=>"round nav-right" %>

  <%= render :partial => 'shared/show_form', :locals => {:event => @event} %><br />
<<<<<<< HEAD
=======
  <div class="clear-all"></div>
  <div class="prepend-4">
    <%= render :partial => 'shared/promo_code_details', :locals => {:event => @event, :sbody => get_sbody } %>
  </div>
>>>>>>> app_branch

  <% unless @rsvps.blank? %>
    <div class="clear-all"></div>
    <div class="span-6"><span class="prepend-4"><strong>RSVPs:</strong></span></div>

    <div class="<%= get_sbody %> last">
    <%= @rsvps.size %>  (Yes: <%= rsvp_count(@rsvps,'Attending') %> Maybe: <%= rsvp_count(@rsvps,'Might Attend') %> No: <%= rsvp_count(@rsvps,'Not Attending') %>)  
    <%= link_to "Show RSVPs", "#modal", :id => "modalGroup", :remote=>true %>
    </div>
  <% end %>

  <div class="clear-all"></div>
  <%= render :partial => 'show_event_session', :locals => {:event => @event, :sbody => get_sbody} %><br />

  <p><br />
    <strong>Sponsor(s):</strong>
<<<<<<< HEAD
    <%= link_to "Add Sponsors", new_sponsor_page_url(:eid => @event, :cid=>@channel), :id=>"link-btn", :class=>"round nav-right" %> 
    <%= render :partial => 'shared/sponsor_page_list', :locals => {:model => @event} %><br />
=======
    <%= link_to "Add Sponsor", event_sponsors_url(@event, {:event_id => @event, :cid=>@channel}), :id=>"link-btn", :class=>"round nav-right" %> 
    <div id="spon-list"><%= render :partial => 'shared/sponsor_list', :locals => { :event => @event, :sponlist => 'Yes', :parent => [] } %></div>
>>>>>>> app_branch
  </p>

  <strong>Presenter(s):</strong>
  <div class='nav-right'>
    <%= link_to "Add Presenter", event_presenters_url(@event,{:event_id => @event, :cid=>@channel}), :id=>"link-btn", :class=>"round " %> 
  </div>

  <p>
    <div id="pres-list"><%= render :partial => 'shared/presenter_list', :locals => { :event => @event, :spkrlist => 'Yes', :parent => [] } %></div>
  </p>
<<<<<<< HEAD
    <div style="display:none"><div id='modal'>
      <div id="rsvp-list"><%= render :partial => 'shared/rsvp_list' %></div>
    </div></div>
=======

  <strong>Exhibitor(s):</strong>
  <div class='nav-right'>
    <%= link_to "Add Exhibitor", event_exhibitors_url(@event,{:event_id => @event, :cid=>@channel}), :id=>"link-btn", :class=>"round " %> 
  </div>

  <p>
    <div id="ex-list"><%= render :partial => 'shared/exhibitor_list', :locals => { :event => @event, :exlist => 'Yes', :parent => [] } %></div>
  </p>

  <div style="display:none"><div id='modal'>
    <div id="rsvp-list"><%= render :partial => 'shared/rsvp_list' %></div>
  </div></div>
>>>>>>> app_branch
<% end %>
