<p><span>Work Phone: </span> <%= f.text_field :work_phone %></p>
<p><span>Work Email: </span> <%= f.text_field :work_email %></p>
<p><span>Website: </span> <%= f.text_field :website %></p>
<p><span>Facebook Name: </span> <%= f.text_field :facebook_name %></p>
<p><span>Twitter Name: </span> <%= f.text_field :twitter_name %></p>
<p><span>LinkedIn Name: </span> <%= f.text_field :linkedin_name %></p>
<p><span>Skype Name: </span> <%= f.text_field :skype_name %></p>
