    <p><span>Topic: </span> <%= f.text_field :speakertopic, :size => 80 %></p>
    <p><span>Start Date: </span> <%= f.date_select :eventstartdate, :start_year => Date.today.year,
                                    :end_year => Date.today.year+2, 
                                    :order => [:month, :day, :year]  %></p>
    <p><span>Start Time: </span> <%= f.time_select :eventstarttime,{ :default => Time.now.change(:hour => 12), :simple_time_select => true, :minute_interval => 		5, :time_separator => "" }, :value => chk_offset(@event.eventstarttime, @event.localGMToffset) %></p>
    <p><span>Start Time Zone: </span> <%= f.collection_select :localGMToffset, GmtTimezone.all, :code, :description, {:selected => @user.localGMToffset} %></p>
    <p><span>End Date: </span> <%= f.date_select :eventenddate, :start_year => Date.today.year,     
                                        :end_year => Date.today.year+3,
				        :order => [:month, :day, :year] %></p>
    <p><span>End Time: </span> <%= f.time_select :eventendtime, { :default => Time.now.change(:hour => 12), :simple_time_select => true, :minute_interval => 5, 		:time_separator => "" }, :value => chk_offset(@event.eventendtime, @event.endGMToffset) %></p>
    <p><span>End Time Zone: </span> <%= f.collection_select :endGMToffset, GmtTimezone.all, :code, :description, {:selected => @user.localGMToffset} %></p>
    <p><span>Place: </span><%= f.text_field :mapplacename, :size => 60 %></p>

    <% if etype == 'Session' %>
      <p><span>Location: </span> <%= f.collection_select :location, EventSite.get_list(@event.id), :name, :name, :include_blank => true %></p>
    <% else %>
      <p><span>Location: </span> <%= f.text_field :location, :size => 60 %></p>
    <% end %>

    <p><span>Address: </span> <%= f.text_field :mapstreet, :size => 60 %></p>
    <p><span>City: </span> <%= f.text_field :mapcity %></p>
    <p><span>State: </span><%= f.collection_select :mapstate, StateCode.all, :StateAbbr, :State, :include_blank => true %></p>
    <p><span>Zip/Postal: </span> <%= f.text_field :mapzip, :size => 10 %></p>
    <p><span>Country: </span><%= f.collection_select :mapcountry, Country.all, :Description, :Description, :include_blank => true %></p>
    <p><span>Host: </span> <%= f.text_field :host, :size => 80 %></p>
    <p><span>Overview: </span> <%= f.text_field :bbody, :size => 80 %></p>
    <p><span>Description: </span> <%= f.text_area :cbody  %></p>
    <p><span>Member Fee: </span> <%= f.text_field :MemberFee, :size => 10 %></p>
    <p><span>General: </span> <%= f.text_field :NonMemberFee, :size => 10 %></p>
    <p><span>Affiliates: </span> <%= f.text_field :AffiliateFee, :size => 10 %></p>
    <p><span>At Door Fee: </span> <%= f.text_field :AtDoorFee, :size => 10 %></p>
    <p><span>Prepaid Fee: </span> <%= f.text_field :Other3Fee, :size => 10 %></p>
    <p><span>Student Fee: </span> <%= f.text_field :Other1Fee, :size => 10 %></p>
    <p><span>Senior Fee: </span> <%= f.text_field :Other2Fee, :size => 10 %></p>
    <p><span>Spouse Fee: </span> <%= f.text_field :SpouseFee, :size => 10 %></p>
    <p><span>Group Fee: </span> <%= f.text_field :GroupFee, :size => 10 %></p>
    <p><span>RSVP?: </span> <%= f.check_box :rsvp, :class=>'check_bx', "yes", "no" %></p>
    
    <%= render :partial => 'shared/photo', :locals => { :f => f } %>

    <% if @channel %>
      <%= f.hidden_field :subscriptionsourceID, :value => @channel.channelID %>
      <%= f.hidden_field :contentsourceID, :value => @channel.HostProfileID %>
    <% else %>
      <%= f.hidden_field :subscriptionsourceID, :value => @host_profile.subscriptionsourceID %>
      <%= f.hidden_field :contentsourceID, :value => @host_profile.ProfileID %>
    <% end %>
