<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Profile' } %>

<%= content_for :content do %>
  <h2 class="grp-hdr">Profile</h2>
  <hr />
  <%= link_to "Edit Profile", edit_user_host_profile_path(@host_profile), :id=>"link-btn", :class=>"round nav-right" %>

  <%= render :partial => 'shared/show_photo', :locals => {:model => @host_profile, :file_name => "headshot1.jpg" } %>

  <% if mobile_device? %>
    <%= render :partial => 'mobile/show_host_profile', :locals => {:host_profile => @host_profile} %>
  <% else %>
    <%= render :partial => 'show_host_profile', :locals => {:host_profile => @host_profile} %>
  <% end %>

  <div class="clear-all"></div>
  <p><div id="ch-list"><%= render :partial => 'shared/channel_list' %></div></p>
<% end %>  
