<%= form_for @channel, :html => { :multipart => true }, :validate=>true do |f| %>
  <%= render "shared/error_messages", :target => @channel %>

  <div id="newreg">
    <span>Channel Name: </span> <%= f.text_field :channel_name, :size => 50 %>
    <p><span>Address: </span> <%= f.text_field :mapstreet, :size => 50 %></p>
    <p><span>City: </span> <%= f.text_field :mapcity %></p>
    <p><span>State </span><%= f.collection_select :mapstate, StateCode.all, :StateAbbr, :State, :include_blank => true %></p>
    <p><span>Zip/Postal: </span> <%= f.text_field :mapzip, :size => 12 %></p>

    <%= f.fields_for :channel_locations do |form| %>  
 	  <p><span>Nearest City:</span><%= form.collection_select :location_id, Location.all, :id, :city, :prompt => 'Select' %></p>
      
    <% end %> 
    
    <p><span>Summary: </span> <%= f.text_field :bbody, :size => 80 %></p>
    <p><span>Description: </span> <%= f.text_area :cbody  %></p>

    <%= render :partial => 'shared/photo', :locals => { :f => f } %>
    <p><span><strong>Categories & Topics </strong></span></p><br />
    <div class="clear-all"></div>
  <p>
    <%= f.fields_for :channel_interests do |builder| %>  
      <%= render :partial => 'channel_interest', :locals => {:builder => builder} %>  
    <% end %> 
  </p>
  <p><%= f.submit "Save" %></p>
  </div>
<% end %>
