<%= form_for @channel, :remote=>true do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :channelID %><br />
    <%= f.text_field :channelID %>
  </p>
  <p>
    <%= f.label :HostProfileID %><br />
    <%= f.text_field :HostProfileID %>
  </p>
  <p>
    <%= f.label :channel_name %><br />
    <%= f.text_field :channel_name %>
  </p>
  <p>
    <%= f.label :channel_title %><br />
    <%= f.text_field :channel_title %>
  </p>
  <p>
    <%= f.label :channel_class %><br />
    <%= f.text_field :channel_class %>
  </p>
  <p>
    <%= f.label :channel_type %><br />
    <%= f.text_field :channel_type %>
  </p>
  <p>
    <%= f.label :cbody %><br />
    <%= f.text_area :cbody %>
  </p>
  <p>
    <%= f.label :bbody %><br />
    <%= f.text_field :bbody %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>

  <p>
    <%= f.fields_for :channel_interests do |builder| %>  
      <%= render :partial => 'channel_interest', :locals => {:builder => builder} %>  
    <% end %> 
  </p>
  <p><%= f.submit %></p>
<% end %>
