<% title "Sponsor Pages" %>

<table>
  <tr>
    <th>Name</th>
    <th>Page Header</th>
    <th>Subscriptionsourceid</th>
    <th>Contentsourceid</th>
    <th>Status</th>
    <th>Hide</th>
    <th>Sponsorable Type</th>
    <th>Sponsorable</th>
  </tr>
  <% for sponsor_page in @sponsor_pages %>
    <tr>
      <td><%= sponsor_page.name %></td>
      <td><%= sponsor_page.page_header %></td>
      <td><%= sponsor_page.subscriptionsourceID %></td>
      <td><%= sponsor_page.contentsourceID %></td>
      <td><%= sponsor_page.status %></td>
      <td><%= sponsor_page.hide %></td>
      <td><%= sponsor_page.sponsorable_type %></td>
      <td><%= sponsor_page.sponsorable_id %></td>
      <td><%= link_to "Show", sponsor_page %></td>
      <td><%= link_to "Edit", edit_sponsor_page_path(sponsor_page) %></td>
      <td><%= link_to "Destroy", sponsor_page, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Sponsor Page", new_sponsor_page_path %></p>
