<p>  
  <%= f.label :work_phone %>
  <%= f.text_field :work_phone %> 
</p>
<p>  
  <%= f.label :work_email %>
  <%= f.text_field :work_email %>  
</p>
<p>  
  <%= f.label :facebook_name %>
  <%= f.text_field :facebook_name %>  
</p>
<p>  
  <%= f.label :twitter_name %>
  <%= f.text_field :twitter_name %>  
</p>
<p>  
  <%= f.label :linkedin_name %>
  <%= f.text_field :linkedin_name %>  
</p>
<p>  
  <%= f.check_box :_destroy %>  
  <%= f.label :_destroy, "Remove" %>  
</p>  
