<% title "Event Sessions" %>

<table>
  <tr>
    <th>Event Name</th>
    <th>Event Type</th>
    <th>Topic</th>
    <th>Eventstartdate</th>
    <th>Eventenddate</th>
    <th>Eventstarttime</th>
    <th>Eventendtime</th>
    <th>Localgmtoffset</th>
    <th>Endgmtoffset</th>
    <th>Mapstreet</th>
    <th>Mapcity</th>
    <th>Mapstate</th>
    <th>Mapzip</th>
    <th>Mapplacename</th>
    <th>Mapcountry</th>
    <th>Location</th>
    <th>Session Type</th>
    <th>Event</th>
    <th>Event Track</th>
  </tr>
  <% for event_session in @event_sessions %>
    <tr>
      <td><%= event_session.event_name %></td>
      <td><%= event_session.event_type %></td>
      <td><%= event_session.speakertopic %></td>
      <td><%= event_session.eventstartdate %></td>
      <td><%= event_session.eventenddate %></td>
      <td><%= chk_offset(event_session.eventstarttime, event_session.localGMToffset) %></td>
      <td><%= chk_offset(event_session.eventendtime, event_session.endGMToffset) %></td>
      <td><%= event_session.localGMToffset %></td>
      <td><%= event_session.endGMToffset %></td>
      <td><%= event_session.mapstreet %></td>
      <td><%= event_session.mapcity %></td>
      <td><%= event_session.mapstate %></td>
      <td><%= event_session.mapzip %></td>
      <td><%= event_session.mapplacename %></td>
      <td><%= event_session.mapcountry %></td>
      <td><%= event_session.location %></td>
      <td><%= event_session.session_type %></td>
      <td><%= event_session.event_id %></td>
      <td><%= event_session.event_track_id %></td>
      <td><%= link_to "Show", event_session %></td>
      <td><%= link_to "Edit", edit_event_session_path(event_session) %></td>
      <td><%= link_to "Destroy", event_session, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Event Session", new_event_session_path %></p>
