<% title "Event Session" %>

<p>
  <strong>Event Name:</strong>
  <%= @event_session.event_title %>
</p>
<p>
  <strong>Session Name:</strong>
  <%= @event_session.event_name %>
</p>
<p>
  <strong>Event Type:</strong>
  <%= @event_session.event_type %>
</p>
<p>
  <strong>Cbody:</strong>
  <%= @event_session.cbody %>
</p>
<p>
  <strong>Bbody:</strong>
  <%= @event_session.bbody %>
</p>
<p>
  <strong>Eventstartdate:</strong>
  <%= @event_session.eventstartdate %>
</p>
<p>
  <strong>Eventenddate:</strong>
  <%= @event_session.eventenddate %>
</p>
<p>
  <strong>Eventstarttime:</strong>
  <%= chk_offset(@event_session.eventstarttime, @event_session.localGMToffset) %>
</p>
<p>
  <strong>Eventendtime:</strong>
  <%= chk_offset(@event_session.eventendtime, @event_session.endGMToffset) %>
</p>
<p>
  <strong>Localgmtoffset:</strong>
  <%= @event_session.localGMToffset %>
</p>
<p>
  <strong>Endgmtoffset:</strong>
  <%= @event_session.endGMToffset %>
</p>
<p>
  <strong>Address:</strong><br />
  <%= @event_session.mapplacename %><br />
  <%= @event_session.mapstreet %><br />
  <%= @event_session.mapcity %>, <%= @event_session.mapstate %>  <%= @event_session.mapzip %><br />
  <%= @event_session.mapcountry %>
</p>
<p>
  <strong>Location:</strong>
  <%= @event_session.location %>
</p>
<p>
  <strong>Session Type:</strong>
  <%= @event_session.session_type %>
</p>
<p>
  <strong>Event Track:</strong>
  <%= @event_session.event_track_id %>
</p>
<p>
  <strong>Speaker Topic:</strong>
  <%= @event_session.speakertopic %>
</p>
<p>
  <strong>Speaker(s):</strong>
    <ol>
        <% for espeaker in @event_session.event_speakers %>
	      <li><%= espeaker.speaker %> <%= espeaker.title %> <%= espeaker.org_name %></li>
        <% end %>
    </ol>
</p>
<p>
  <%= link_to "Edit", edit_event_session_path(@event_session) %> |
  <%= link_to "Destroy", @event_session, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", event_sessions_path %>
</p>
