<%= form_for @event, :url => events_path(@event, :cid=>@channel), :html => { :multipart => true }, :validate => true do |f| %>
  <%= render "shared/error_messages", :target => @event %>
  <div id="newreg">
    <p><span>Name: </span> <%= f.text_field :event_name, :size => 80 %></p>
    <p><span>Type: </span> <%= f.collection_select :event_type, EventType.nonsessions, :code, :desc_title, :prompt => 'Select' %></p>
    <p><span>Status: </span> <%= f.collection_select :status, StatusType.unhidden, :code, :description, :prompt => 'Select' %></p>

  <% if is_clone?(etype) %>
    <%= f.hidden_field :etype, :value => 'Clone' %>
  <% end %>

  <%= render :partial => 'shared/form', :locals => {:f => f, :etype => 'Event'} %>

  <% if has_sessions?(@event.event_type) %>
    <%= render :partial => 'track_site', :locals => {:f => f} %>
  <% else %>
    <div id="track-site" style="display:none">
      <%= render :partial => 'track_site', :locals => {:f => f} %>
    </div>
  <% end %>  

  <p><%= f.submit "Save" %></p>
  </div>
<% end %>
