<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Sponsor' } %>

<%= content_for :content do %>
  <h2 class="grp-hdr">Sponsor Page</h2>
  <hr />
  <%= link_to "Edit Page", edit_sponsor_page_path(@sponsor_page, :eid=>@event, :cid=>@channel), :id=>"link-btn", :class=>"round nav-right" %>

  <div class="span-4">
    <%= render :partial => 'shared/show_photo', :locals => {:model => @sponsor_page, :file_name => "schedule1.jpg", :psize => '120x120' } %>
  </div>

  <% if mobile_device? %>
    <%= render :partial => 'mobile/show_sponsor_page', :locals => {:sponsor_page => @sponsor_page} %>
  <% else %>
    <%= render :partial => 'show_sponsor_page', :locals => {:sponsor_page => @sponsor_page} %>
  <% end %>

  <div class="clear-all"></div>
  <%= render :partial => 'shared/sponsor_list', :locals => {:model => @sponsor_page} %><br />
<% end %>
