<div class="span-4">
  <div class="grp-title">
    <strong>Event(s):</strong>
  </div>
</div>

<%= link_to "Add Event", new_event_path(:cid=>@channel), :id=>"link-btn", :class=>"round nav-right" %>

<div class="clear-all"><div>
<br />
<table>
  <tr>
    <th>Event Name</th>
    <th>Overview</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Start</th>
    <th>End</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%= link_to event.event_name, event_path(event, :cid=>@channel, :etype=>event.event_type) %></td>
      <td><%= truncate(event.bbody, :length => 40, :omission => "...") %></td>
      <td><%= get_nice_date(event.eventstartdate,'List') %></td>
      <td><%= get_nice_date(event.eventenddate,'List') %></td>
      <td><%= get_nice_time(chk_offset(event.eventstarttime, event.localGMToffset)) %>
      <td><%= get_nice_time(chk_offset(event.eventendtime, event.endGMToffset)) %></td>
      <td><%= event.status.titleize %></td>
      <td><%= link_to "Edit", edit_event_path(event, :cid=>@channel) %></td>
      <td><%= link_to "Clone", clone_event_path(event, :cid=>@channel), :confirm => 'Clone this event?' %></td>
      <td><%= link_to "Remove", event_url(event, :cid=>@channel), :confirm => 'Remove this event?',  :method => :delete %></td>
    </tr>
  <% end %>
</table>
<div class="nav-right">
  <%= will_paginate @events %>
</div>
