  <p><span>Start Date: </span><%= f.text_field :eventstartdate, :value => get_nice_date(@event.eventstartdate, 'Edit'), :size => 10, :id => "start-date" %></p>
  <p><span>Start Time: </span> <%= f.time_select :eventstarttime,{ :default => Time.now.change(:hour => 12), :simple_time_select => true, :minute_interval =>	5, :time_separator => "" }, :value => chk_offset(@event.eventstarttime, @event.localGMToffset) %>

  <% unless @channel.subscriptions.blank? %>
    <%= link_to "Check Availability", "#modal", :id => "chk-avail" %></p>
    <div id="curr-cid" data-cid="<%= @channel.id %>"></div>
    <div style="display:none"><div id='modal'>
	<div id="avail"><%= render :partial => 'shared/show_availability', :locals=>{:avail=>check_avail(@channel.subscriptions, f.object.eventstartdate)} %></div>
    </div></div>
  <% end %>

  <p><span>Start Time Zone: </span> <%= f.collection_select :localGMToffset, GmtTimezone.all, :code, :description, {:selected => @user.localGMToffset} %></p>
  <p><span>End Date: </span><%= f.text_field :eventenddate, :value => get_nice_date(@event.eventenddate, 'Edit'), :size => 10, :id => "end-date" %></p>
  <p><span>End Time: </span> <%= f.time_select :eventendtime, { :default => Time.now.change(:hour => 12), :simple_time_select => true, :minute_interval => 5,	:time_separator => "" }, :value => chk_offset(@event.eventendtime, @event.endGMToffset) %></p>
  <p><span>End Time Zone: </span> <%= f.collection_select :endGMToffset, GmtTimezone.all, :code, :description, {:selected => @user.localGMToffset} %></p>
  <p><span>Place: </span> <div id="mform"><p><label for="event_mapplacename">Enter place name (e.g. Empire State Bldg)</label>
    <%= f.text_field :mapplacename, :size => 60 %></p></div></p>

    <% if etype == 'Session' %>
      <p><span>Location: </span> <%= f.collection_select :location, EventSite.get_list(@event.id), :name, :name, :include_blank => true %></p>
    <% else %>
      <p><span>Location: </span> <div id="mform"><p><label for="event_location">Enter location (e.g. Conf Room A)</label>
         <%= f.text_field :location, :size => 60 %></p></div></p>
    <% end %>

    <p><span>Address: </span> <%= f.text_field :mapstreet, :size => 60 %></p>
    <p><span>City: </span> <%= f.text_field :mapcity, :size => 50 %></p>
    <p><span>State: </span><%= f.collection_select :mapstate, StateCode.all, :StateAbbr, :State, :include_blank => true %></p>
    <p><span>Zip/Postal: </span> <%= f.text_field :mapzip, :size => 10 %></p>
    <p><span>Country: </span><%= f.collection_select :mapcountry, Country.all, :Description, :Description, :include_blank => true %></p>
    <p><span>Host: </span> <%= f.text_field :host, :size => 80 %></p>
    <p><span>Topic: </span> <div id="mform"><p><label for="event_speakertopic">Enter topic (e.g. Global Warming)</label>
      <%= f.text_field :speakertopic, :size => 100 %></p></div></p>
    <p><span>Summary: </span><div id="mform"><p><label for="event_bbody">Enter brief summary (e.g. Fundraiser for Global Warming Research )</label> 
    <%= f.text_field :bbody, :size => 100 %></p></div></p>
    <p><span>Description: </span> <%= f.text_area :cbody  %></p>
    
    <%= render :partial => 'shared/event_prices', :locals => { :f => f } %>
    <p><span>RSVP?: </span> <%= f.check_box :rsvp, {:class=>'check_bx'}, "yes", "no" %></p>
    
    <%= render :partial => 'shared/photo', :locals => { :f => f } %>

    <% if @channel %>
      <%= f.hidden_field :subscriptionsourceID, :value => @channel.channelID %>
      <%= f.hidden_field :contentsourceID, :value => @channel.HostProfileID %>
    <% else %>
      <%= f.hidden_field :subscriptionsourceID, :value => @host_profile.subscriptionsourceID %>
      <%= f.hidden_field :contentsourceID, :value => @host_profile.ProfileID %>
    <% end %>
