<ul>
  <li><%= link_to "Profile", [@user, @host_profile] %></li>
  </li>
  <% case menu_type %>
  <% when "Event" %>
    <li><%= link_to "Channel", @channel %></li>
  <% when "Sponsor" %>
    <li><%= link_to "Channel", @channel %></li>
    <li><%= link_to "Event", event_url(@event, :cid=>@channel) %></li>
  <% when "Session" %>
    <li><%= link_to "Channel", @channel %></li>
    <li><%= link_to "Event", event_url(@event, :cid=>@channel) %></li>
  <% when "Presenter" %>
    <li><%= link_to "Channel", @channel %></li>
    <% if @parent_event %>
      <li><%= link_to "Event", event_url(@parent_event, :cid=>@channel) %></li>
      <li><%= link_to "Session", event_session_relationship_url(@parent_event, @event, :cid=>@channel) %></li>
    <% else %>
      <li><%= link_to "Event", event_url(@event, :cid=>@channel) %></li>
    <% end %>
  <% else %>
  <% end %>
  <li><a href="">Account</a>
    <ul>
      <% if can_access? %>
        <li><%= link_to "Manage Users", manage_users_url(:ssid=>@user.ssid, :cid=>@channel) %></li>
      <% end %>
  	<li><%= link_to "Sign Out", destroy_user_session_path %></li>
    </ul>
  </li>
</ul>
