<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Title</th>
    <th>Company</th>
    <th>Bio</th>
    <% if spkrlist == 'No' %><th></th><% end %>
    <th></th>
    <th></th>
  </tr>
  <% for presenter in @presenters %>
    <tr>
      <td>
        <div class="pic-size">
          <%= render :partial => 'shared/show_photo', :locals => {:model => presenter, :file_name => "headshot1.jpg", :psize => '48x48' } %>
	</div>
      </td>

      <% if has_sessions?(event.event_type) %>
        <td><%= link_to presenter.name, event_presenter_url(event, presenter, :cid=>@channel) %></td>
      <% else %>
        <td><%= link_to presenter.name, event_presenter_url(event, presenter, :parent_id => parent, :cid=>@channel) %></td>
      <% end %>

      <td><%= presenter.title %></td>
      <td><%= presenter.org_name %></td>
      <td><%= truncate(presenter.bio, :length=>80, :omission=>"...") %></td>

      <% if spkrlist == 'No' %>
        <td><%= link_to "Select", manage_presenters_url(:event_id => event, :presenter_id => presenter, :parent_id => parent, :cid=>@channel), :method => :post %></td>
      <% end %>

      <% if has_sessions?(event.event_type) %>
        <td><%= link_to "Edit", edit_event_presenter_url(event, presenter, :cid=>@channel) %></td>
      <% else %>
        <td><%= link_to "Edit", edit_event_presenter_url(event, presenter, :parent_id => parent, :cid=>@channel) %></td>
      <% end %>

      <% if spkrlist == 'No' %>
        <% if has_sessions?(event.event_type) %>
          <td><%= link_to "Remove", event_presenter_url(event, presenter, :cid=>@channel), :confirm => 'Are you sure?', :method => :delete %></td>
	<% else %>
	  <td></td>
	<% end %>
      <% else %>
        <td><%= link_to "Remove", manage_presenter_url(event, :presenter_id => presenter, :cid=>@channel), :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="nav-right">
  <%= will_paginate @presenters %><br />
</div>
