<div class="clear-all"></div>
<center><h3 class="grp-hdr">RSVP List</h3></center>
<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Guests</th>
    <th>Email</th>
    <th>RSVP Date</th>
    <th>Comment</th>
  </tr>
  <% @rsvps.each do |rsvp| %>
    <tr>
      <td><%= rsvp.fullname %></td>
      <td><%= rsvp.status %></td>
      <td><%= rsvp.guests %></td>
      <td><%= rsvp.email %></td>
      <td><%= get_nice_date(rsvp.responsedate) %></td>
      <td><%= rsvp.comment %></td>
    </tr>
  <% end %>
</table>
</div>
<div class="nav-right">
  <%= will_paginate @rsvps, :param_name => 'rsvp_page' %><br />
</div>
