  <p>
  <strong>Session(s):</strong>
  <%= link_to "Add Session", new_event_session_relationship_url(@event, :cid=>@channel), :id=>"link-btn", :class=>"round nav-right" %>
  <table>
  <tr>
    <th>Session Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Location</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for session in @sessions %>
    <tr>
      <td><%= link_to truncate(session.event_name, :length => 40, :omission =>"..."), event_session_relationship_path(@event, session, :cid=>@channel) %></td>
      <td><%= get_nice_date(session.eventstartdate,'List') %></td>
      <td><%= get_nice_date(session.eventenddate,'List') %></td>
      <td><%= get_nice_time(chk_offset(session.eventstarttime, session.localGMToffset)) %></td>
      <td><%= get_nice_time(chk_offset(session.eventendtime, session.endGMToffset)) %></td>
      <td><%= session.location %></td>
      <td><%= session.status.titleize %></td>
      <td><%= link_to "Edit", edit_event_session_relationship_path(@event, session, :cid=>@channel) %></td>
      <td><%= link_to "Clone", clone_event_session_relationship_path(@event, session, :cid=>@channel), :confirm => 'Clone this session?' %></td>
      <td><%= link_to "Remove", event_session_relationship_path(@event, session, :cid=>@channel),  :confirm => 'Remove this session?', :method => :delete %></td>
    </tr>
   <% end %>
  </table>
  <div class="nav-right">
    <%= will_paginate @sessions %>
  </div>
  </p>
