<p>
  <div class="span-2"><%= 'Where:' %></div><div class="<%= sbody %> last"><%= event.mapplacename %></div>

<div class="prepend-4">
  <div class="<%= sbody %> last">
    <span class="<%= !event.mapplacename.blank? ? 'prepend-2' : 'none' %>"><%= event.mapstreet %></span>
  </div>
<% if !event.mapcity.blank? %>	
  <div class="<%= lbody %> last">
    <span class='prepend-2'><%="#{event.mapcity}, #{event.mapstate} #{event.mapzip} " %></span>
  </div><br />
<% end %>
<% if !event.bbody.blank? %>	
  <div class="span-2"><%= 'Summary:' %></div>	
  <div class="<%= sbody %> last"><%= event.bbody.html_safe %></div><br />
<% end %>
<% if !event.cbody.blank? %>	
  <div class="span-2"><%= 'Details:' %></span></div>	
  <div class="<%= sbody %> last"><%= event.cbody.html_safe %></div><br />
<% end %>
</div>
</p>

