<div class="clear-all"></div>
<% if any_prices?(event) %>
  <p><div class="span-6"><span class="prepend-4"><strong>Prices:</strong></span></div></p>
<% end %>
<div class="span-19 last">
<% unless event.MemberFee.blank? %>	
  <div class="span-2"><%= 'Member:' %></div><div class="span-17 last"><%= number_to_currency(event.MemberFee) %></div>
<% end %>
<% unless event.NonMemberFee.blank? %>	
  <div class="span-2"><%= 'General:' %></div><div class="span-17 last"><%= number_to_currency(event.NonMemberFee) %></div>
<% end %>
<% unless event.AffiliateFee.blank? %>	
  <div class="span-2"><%= 'Affiliate:' %></div><div class="span-17 last"><%= number_to_currency(event.AffiliateFee) %></div>
<% end %>
<% unless event.Other1Fee.blank? %>	
  <div class="span-2"><%= 'Student:' %></div><div class="span-17 last"><%= number_to_currency(event.Other1Fee) %></div>
<% end %>
<% unless event.Other2Fee.blank? %>	
  <div class="span-2"><%= 'Senior:' %></div><div class="span-17 last"><%= number_to_currency(event.Other2Fee) %></div>
<% end %>
<% unless event.SpouseFee.blank? %>	
  <div class="span-2"><%= 'Spouse:' %></div><div class="span-17 last"><%= number_to_currency(event.SpouseFee) %></div>
<% end %>
<% unless event.GroupFee.blank? %>	
  <div class="span-2"><%= 'Group:' %></div><div class="span-17 last"><%= number_to_currency(event.GroupFee) %></div>
<% end %>
<% unless event.Other3Fee.blank? %>	
  <div class="span-2"><%= 'Prepaid:' %></div><div class="span-17 last"><%= number_to_currency(event.Other3Fee) %></div>
<% end %>
<% unless event.Other4Fee.blank? %>	
  <div class="span-2"><%= 'Disabled:' %></div><div class="span-17 last"><%= number_to_currency(event.Other4Fee) %></div>
<% end %>
<% unless event.AtDoorFee.blank? %>	
  <div class="span-2"><%= 'At Door:' %></div><div class="span-17 last"><%= number_to_currency(event.AtDoorFee) %></div>
<% end %>
</div>
