<% if !model.speaker.blank? %>
  <div class="span-2"><span><%= "Speaker:" %></span></div>	
  <div class="<%= sbody %> last"><span class="append-2"><%= model.speaker %></span></div>
<% end %>
<% if !model.speakertopic.blank? %>	
  <div class="span-2"><span><%= "Topic:" %></span></div>	
  <div class="<%= sbody %> last"><%= model.speakertopic %></div> 
<% end %>
<% if !model.host.blank? %>	
  <div class="span-2"><span><%= "Host:" %></span></div>	
  <div class="<%= sbody %> last"><span class="append-2"><%= model.host %></span></div>
<% end %>
<% if rsvp?(model) %>	
  <div class="span-2"><span><%= "RSVP:" %></span></div>	
  <div class="<%= sbody %> last"><%= model.rsvp.titleize %></div> 
<% end %>
<% if !model.RSVPemail.blank? %>	
  <div class="span-2"><span><%= "RSVP Email:" %></span></div>	
  <div class="<%= sbody %> last"><%= model.RSVPemail %></div> 
<% end %>
