<div class="clear-all"></div>
<div class="prepend-4">
<% if any_prices?(model) %>
  <p><div class="span-2">Prices:</div></p>
  <div class="<%= sbody %> last">
  <% [['MemberFee', 'Member:'], ['NonMemberFee', 'General:'], ['AffiliateFee', 'Affiliate:'],
      ['SpouseFee', 'Spouse:'], ['AtDoorFee', 'At Door:'], ['GroupFee', 'Group:']].each do |fld| %>
  	<% if price_exists?(model, fld[0] ) %>	
  		<div class="span-4"><%= "#{fld[1]}" %></div>
		<div class="<%= get_cbody %> last"><%= number_to_currency(model.send(fld[0])) %></div>
  	<% end %>
  <% end %>
  <% (1..6).each do |i| %>
    <% if price_exists?(model, 'Other' + i.to_s + 'Fee' ) %>	
  	<div class="span-4"><%= model.send('Other' + i.to_s + 'Title') %>:</div>
	<div class="<%= get_cbody %> last"><%= number_to_currency(model.send('Other' + i.to_s + 'Fee')) %></div>
    <% end %>
  <% end %>
  </div>
<% end %>
</div>
