
<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Type</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for sponsor in @sponsors %>
    <tr>
      <td>
        <div class="pic-size">
          <%= render :partial => 'shared/show_photo', :locals => {:model => sponsor, :file_name => "schedule1.jpg", :psize => '48x48' } %>
	</div>
      </td>

      <% if has_sessions?(event.event_type) %>
        <td><%= link_to sponsor.sponsor_name, event_sponsor_url(event, sponsor, :cid=>@channel) %></td>
      <% else %>
        <td><%= link_to sponsor.sponsor_name, event_sponsor_url(event, sponsor, :parent_id => parent, :cid=>@channel) %></td>
      <% end %>

      <td><%= sponsor.sponsor_type %></td>
      <td><%= sponsor.details %></td>

      <% if sponlist == 'No' %>
        <td><%= link_to "Select", manage_sponsors_url(:id => event, :sponsor_id => sponsor, :parent_id => parent, :cid=>@channel), :method => :post %></td>
      <% else %>
	  <td></td>
      <% end %>

      <% if has_sessions?(event.event_type) %>
        <td><%= link_to "Edit", edit_event_sponsor_url(event, sponsor, :cid=>@channel) %></td>
      <% else %>
        <td><%= link_to "Edit", edit_event_sponsor_url(event, sponsor, :parent_id => parent, :cid=>@channel) %></td>
      <% end %>

      <% if sponlist == 'No' %>
        <% if has_sessions?(event.event_type) %>
          <td><%= link_to "Remove", event_sponsor_url(event, sponsor, :cid=>@channel), :confirm => 'Are you sure?', :method => :delete %></td>
	<% else %>
	  <td></td>
	<% end %>
      <% else %>
        <td><%= link_to "Remove", manage_sponsor_url(event, :sponsor_id => sponsor, :cid=>@channel), :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="nav-right">
  <%= will_paginate @sponsors, :param_name => 'sponsor_page' %><br />
</div>
