
<table>
  <tr>
    <th></th>
    <th>Sponsor Name</th>
    <th>Website</th>
    <th>Sponsor Type</th>
    <th>Logo Type</th>
    <th>Status</th>
  </tr>
  <% for sponsor in @sponsors %>
    <tr>
      <td>
        <div class="pic-size">
          <%= render :partial => 'shared/show_photo', :locals => {:model => sponsor, :file_name => "schedule1.jpg", :psize => '48x48' } %>
	</div>
      </td>

      <td><%= sponsor.sponsor_name %></td>
      <td><%= sponsor.sponsorURL %></td>
      <td><%= sponsor.sponsor_type %></td>
      <td><%= sponsor.logo_type %></td>
      <td><%= sponsor.status.titleize %></td>
    </tr>
  <% end %>
</table>

