  <p>
  <div class="span-2"><span><%= "Name:" %></span></div>
  <div class="span-17 last"><span class="append-2"><%= channel.channel_name %></span></div>
  <div class="span-2"><span><%= "Status:" %></span></div>
  <div class="span-19 last"><span class="append-2"><%= channel.status.titleize %></span></div>
  <div class="span-2"><span><%= "Summary:" %></span></div>
  <div class="span-19 last"><span class="append-2"><%= channel.bbody %></span></div>
  <div class="span-2"><span><%= "Description:" %></span></div>
  <div class="span-19 last"><span class="append-2"><%= channel.cbody %></span></div>
  </p><br />
