<% title "Presenters" %>

<table>
  <tr>
    <th>Photo</th>
    <th>Name</th>
    <th>Title</th>
    <th>Company/Org Name</th>
    <th>Bio</th>
  </tr>
  <% for presenter in @presenters %>
    <tr>
      <td>
        <% for pic in presenter.pictures %>
          <%= image_tag pic.photo.url, :size=>'48x48' %>
	<% end %>
      </td>
      <td><%= presenter.name %></td>
      <td><%= presenter.title %></td>
      <td><%= presenter.org_name %></td>
      <td><%= raw truncate(presenter.bio, :length=>50, :omission=>"...") %></td>
      <% unless @event.blank? %>
        <td><%= link_to "Select", event_presenters_path(:event_id => @event.id, :presenter_id => presenter), :method => :post %></td>
      <% end %>
      <td><%= link_to "Show", presenter %></td>
      <td><%= link_to "Edit", edit_presenter_path(presenter) %></td>
      <td><%= link_to "Destroy", presenter, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Presenter", new_presenter_path %></p>
