<% title "Presenter" %>

<p>
  <% for pic in @presenter.pictures %>
    <%= image_tag pic.photo.url, :size=>'100x100' %>
  <% end %>
</p>
<p>
  <strong>Name:</strong>
  <%= @presenter.name %>
</p>
<p>
  <strong>Title:</strong>
  <%= @presenter.title %>
</p>
<p>
  <strong>Company Name:</strong>
  <%= @presenter.org_name %>
</p>
<p>
  <strong>Bio:</strong>
  <%= @presenter.bio %>
</p>
<p>
  <strong>Contact Info:</strong><br />
    <% for contact in @presenter.contact_details %>
      Work Phone: <%= contact.work_phone %><br /> 
      Email: <%= contact.work_email %><br /> 
      Website: <%= contact.website %><br /> 
      Facebook: <%= contact.facebook_name %><br />
      Twitter: <%= contact.twitter_name %><br /> 
      LinkedIn: <%= contact.linkedin_name %><br /> 
      Skype: <%= contact.skype_name %><br /> 
    <% end %>
</p>
<p>
  <% if @parent_event %>
    <%= link_to "Select", manage_presenters_url(:event_id => @event, :presenter_id => @presenter, :parent_id => @parent_event), :method => :post %> |
    <%= link_to "Edit", edit_event_presenter_url(@event, @presenter, :parent_id => @parent_event) %> |
    <%= link_to "Destroy", event_presenter_url(@event, @presenter, :parent_id => @parent_event), :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to "Back to Event", event_session_relationship_url(@parent_event, @event) %> 
  <% else %>
    <%= link_to "Select", manage_presenters_url(:event_id => @event, :presenter_id => @presenter), :method => :post %> |
    <%= link_to "Edit", edit_event_presenter_url(@event, @presenter) %> |
    <%= link_to "Destroy", event_presenter_url(@event, @presenter), :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to "Back to Event", @event %> 
  <% end %>
</p>
