<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= render 'layouts/stylesheets' %>
    <%= stylesheet_link_tag "menu", "custom", "screen",'jquery-ui-1.8.11.custom' %>
    <% unless user_signed_in? %>
      <%= stylesheet_link_tag "home" %>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
      <%= yield :content %>
      <%= yield :footer %>
    </div>
  </body>
</html>
