<%= form_for @ad do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :ad_name %><br />
    <%= f.text_field :ad_name %>
  </p>
  <p>
    <%= f.label :ad_type %><br />
    <%= f.text_field :ad_type %>
  </p>
  <p>
    <%= f.label :startdate %><br />
    <%= f.datetime_select :startdate %>
  </p>
  <p>
    <%= f.label :starttime %><br />
    <%= f.time_select :starttime %>
  </p>
  <p>
    <%= f.label :enddate %><br />
    <%= f.datetime_select :enddate %>
  </p>
  <p>
    <%= f.label :endtime %><br />
    <%= f.time_select :endtime %>
  </p>
  <p>
    <%= f.label :contentsourceID %><br />
    <%= f.text_field :contentsourceID %>
  </p>
  <p>
    <%= f.label :subscriptionsourceID %><br />
    <%= f.text_field :subscriptionsourceID %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :hide %><br />
    <%= f.text_field :hide %>
  </p>
  <p>
    <%= f.label :sortkey %><br />
    <%= f.text_field :sortkey %>
  </p>
  <p><%= f.submit %></p>
<% end %>
