<% title "Ads" %>

<table>
  <tr>
    <th>Ad Name</th>
    <th>Ad Type</th>
    <th>Startdate</th>
    <th>Starttime</th>
    <th>Enddate</th>
    <th>Endtime</th>
    <th>Contentsourceid</th>
    <th>Subscriptionsourceid</th>
    <th>Status</th>
    <th>Hide</th>
    <th>Sortkey</th>
  </tr>
  <% for ad in @ads %>
    <tr>
      <td><%= ad.ad_name %></td>
      <td><%= ad.ad_type %></td>
      <td><%= ad.startdate %></td>
      <td><%= ad.starttime %></td>
      <td><%= ad.enddate %></td>
      <td><%= ad.endtime %></td>
      <td><%= ad.contentsourceID %></td>
      <td><%= ad.subscriptionsourceID %></td>
      <td><%= ad.status %></td>
      <td><%= ad.hide %></td>
      <td><%= ad.sortkey %></td>
      <td><%= link_to "Show", ad %></td>
      <td><%= link_to "Edit", edit_ad_path(ad) %></td>
      <td><%= link_to "Destroy", ad, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Ad", new_ad_path %></p>
