<%= form_for @host_profile, :url => user_host_profile_url(@user, @host_profile), :html => { :multipart => true }, :validate=>true do |f| %>
  <%= render "shared/error_messages", :target => @host_profile %>
  
  <div id="newreg">
    <%= render :partial => 'shared/host_profiles', :locals => { :f => f } %>
    <%= render :partial => 'shared/photo', :locals => { :f => f } %>

    <p><%= f.submit "Save" %><%= link_to "Cancel", @host_profile %></p>
  </div>
<% end %>
