  <div class="span-2"><span class="lbl-top"><%= "Name:" %></span></div>
  <div class="span-17 last"><span class="append-2"><%= host_profile.Company %></span></div>
  <div class="span-2"><span><%= "Address:" %></span></div>
  <div class="span-19 last"><span class="append-2"><%= host_profile.Address1 %></span></div>
  <% unless host_profile.Address2.blank? %>
    <div class="span-19 last"><span class="prepend-2 append-2"><%= host_profile.Address2 %></span></div>
  <% end %>
  <div class="span-21 last"><span class="prepend-2 append-2"><%= "#{host_profile.City}, #{host_profile.State} #{host_profile.PostalCode}" %></span></div>
  <% unless host_profile.Country.blank? %>
    <div class="span-21 last"><span class="prepend-2 append-2"><%= host_profile.Country %></span></div>
  <% end %>
  <div class="span-2"><span><%= "Status:" %></span></div>
  <div class="span-19 last"><span class="append-2"><%= host_profile.status.titleize %></span></div>
  <div class="span-2"><span><%= "Org Type:" %></span></div>
  <div class="span-19 last"><span class="append-2"><%= get_entity_type(host_profile.EntityType) %></span></div>
