<div id="newreg">
  <%= render "shared/error_messages", :target => @sponsor %>
  <p><span>Name: </span> <%= f.text_field :sponsor_name, :size => 50 %></p>
  <p><span>Sponsor Type: </span> <%= f.text_field :sponsor_type, :size => 50 %></p>
  <p><span>Logo Type: </span> <%= f.collection_select :logo_type, LogoType.active, :code, :description, :prompt => 'Select' %></p>
  <p><span>Description: </span> <%= f.text_area :description  %></p>
  <div class="fields">
    <%= f.fields_for :contact_details do |form| %>
      <%= render :partial => 'shared/contact_details', :locals => { :f => form } %>
    <% end %>
  </div>
  <%= render :partial => 'shared/photo', :locals => { :f => f } %>

  <%= f.hidden_field :subscriptionsourceID, :value => @host_profile.HostChannelID %>
  <%= f.hidden_field :contentsourceID, :value => @host_profile.subscriptionsourceID %>
  <p><%= f.submit "Save" %>
     <%= link_to 'Back', :back %>
  </p>   
</div>
