<% for contact in sponsor.contact_details %>
  <div class="show-item">
    <% unless contact.work_phone.blank? %>
      <div class="span-2 <%= sponsor.descr_length > 200 ? 'prepend-4' : 'none' %>">Work Phone:</div>
      <div class="<%= sbody %> last"><%= contact.work_phone %></div>
    <% end %>
    <% [['website', 'Website:'],['work_email','Work Email'], ['facebook_name', 'Facebook:'],['twitter_name', 'Twitter:'], 
	['linkedin_name', 'LinkedIn:'], ['skype_name', 'Skype:']].each do |fld| %>
   	<% unless contact.send(fld[0]).blank? %>	
  	  <div class="span-2"><%= fld[1] %></div>
 	  <div class="<%= sbody %>"><%= contact.send(fld[0]) %></div>
 	<% end %>
    <% end %>
  </div>
<% end %>
