<%= form_for @organization do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :orgname %><br />
    <%= f.text_field :orgname %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :hide %><br />
    <%= f.text_field :hide %>
  </p>
  <p>
    <%= f.label :sortkey %><br />
    <%= f.text_field :sortkey %>
  </p>
  <p>
    <%= f.label :channelID %><br />
    <%= f.text_field :channelID %>
  </p>
  <p>
    <%= f.label :subscriptionsourceID %><br />
    <%= f.text_field :subscriptionsourceID %>
  </p>
  <p>
    <%= f.label :subscriptionsourceURL %><br />
    <%= f.text_field :subscriptionsourceURL %>
  </p>
  <p><%= f.submit %></p>
<% end %>
