<% title "Organization" %>

<p>
  <% for pic in @host_profile.pictures %>
    <%= image_tag pic.photo.url, :size=>'120x120' %>
  <% end %>
</p>
<p>
  <strong>ChannelID:</strong>
  <%= @host_profile.HostChannelID %>
</p>
<p>
  <strong>Company:</strong>
  <%= @host_profile.Company %>
</p>
<p>
  <strong>Address:</strong>
  <%= @host_profile.Address1 %><br />
  <%= @host_profile.City %>, <%= @host_profile.State %> <%= @host_profile.PostalCode %>
</p>
<p>
  <strong>Status:</strong>
  <%= @host_profile.status %>
</p>

<p>
  <%= link_to "Edit", edit_user_host_profile_path(@host_profile) %> |
</p>
