<% title "Session Relationships" %>

<table>
  <tr>
    <th>Event</th>
    <th>Session</th>
  </tr>
  <% for session_relationship in @session_relationships %>
    <tr>
      <td><%= session_relationship.event_id %></td>
      <td><%= session_relationship.session_id %></td>
      <td><%= link_to "Show", session_relationship %></td>
      <td><%= link_to "Edit", edit_session_relationship_path(session_relationship) %></td>
      <td><%= link_to "Destroy", session_relationship, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Session Relationship", new_session_relationship_path %></p>
